--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: music; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA music;


ALTER SCHEMA music OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: album; Type: TABLE; Schema: music; Owner: postgres
--

CREATE TABLE music.album (
    album_id integer NOT NULL,
    author_id integer NOT NULL,
    genre_id integer NOT NULL,
    album_name text NOT NULL,
    album_rating real
);


ALTER TABLE music.album OWNER TO postgres;

--
-- Name: app_user; Type: TABLE; Schema: music; Owner: postgres
--

CREATE TABLE music.app_user (
    user_id integer NOT NULL,
    user_name text NOT NULL,
    user_password text NOT NULL
);


ALTER TABLE music.app_user OWNER TO postgres;

--
-- Name: author; Type: TABLE; Schema: music; Owner: postgres
--

CREATE TABLE music.author (
    author_id integer NOT NULL,
    author_name text NOT NULL
);


ALTER TABLE music.author OWNER TO postgres;

--
-- Name: genre; Type: TABLE; Schema: music; Owner: postgres
--

CREATE TABLE music.genre (
    genre_id integer NOT NULL,
    genre_name text NOT NULL
);


ALTER TABLE music.genre OWNER TO postgres;

--
-- Name: song; Type: TABLE; Schema: music; Owner: postgres
--

CREATE TABLE music.song (
    song_id integer NOT NULL,
    author_id integer NOT NULL,
    album_id integer NOT NULL,
    song_name text NOT NULL,
    song_num integer NOT NULL
);


ALTER TABLE music.song OWNER TO postgres;

--
-- Name: user_rating; Type: TABLE; Schema: music; Owner: postgres
--

CREATE TABLE music.user_rating (
    user_rating real,
    user_id integer NOT NULL,
    album_id integer NOT NULL
);


ALTER TABLE music.user_rating OWNER TO postgres;

--
-- Name: want_to_listen; Type: TABLE; Schema: music; Owner: postgres
--

CREATE TABLE music.want_to_listen (
    user_id integer NOT NULL,
    album_id integer NOT NULL
);


ALTER TABLE music.want_to_listen OWNER TO postgres;

--
-- Data for Name: album; Type: TABLE DATA; Schema: music; Owner: postgres
--

COPY music.album (album_id, author_id, genre_id, album_name, album_rating) FROM stdin;
\.


--
-- Data for Name: app_user; Type: TABLE DATA; Schema: music; Owner: postgres
--

COPY music.app_user (user_id, user_name, user_password) FROM stdin;
\.


--
-- Data for Name: author; Type: TABLE DATA; Schema: music; Owner: postgres
--

COPY music.author (author_id, author_name) FROM stdin;
\.


--
-- Data for Name: genre; Type: TABLE DATA; Schema: music; Owner: postgres
--

COPY music.genre (genre_id, genre_name) FROM stdin;
\.


--
-- Data for Name: song; Type: TABLE DATA; Schema: music; Owner: postgres
--

COPY music.song (song_id, author_id, album_id, song_name, song_num) FROM stdin;
\.


--
-- Data for Name: user_rating; Type: TABLE DATA; Schema: music; Owner: postgres
--

COPY music.user_rating (user_rating, user_id, album_id) FROM stdin;
\.


--
-- Data for Name: want_to_listen; Type: TABLE DATA; Schema: music; Owner: postgres
--

COPY music.want_to_listen (user_id, album_id) FROM stdin;
\.


--
-- Name: album album_pkey; Type: CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.album
    ADD CONSTRAINT album_pkey PRIMARY KEY (album_id);


--
-- Name: author author_pkey; Type: CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.author
    ADD CONSTRAINT author_pkey PRIMARY KEY (author_id);


--
-- Name: genre genre_pkey; Type: CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.genre
    ADD CONSTRAINT genre_pkey PRIMARY KEY (genre_id);


--
-- Name: song song_pkey; Type: CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.song
    ADD CONSTRAINT song_pkey PRIMARY KEY (song_id);


--
-- Name: app_user user_pkey; Type: CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.app_user
    ADD CONSTRAINT user_pkey PRIMARY KEY (user_id);


--
-- Name: album fk_album_author_id; Type: FK CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.album
    ADD CONSTRAINT fk_album_author_id FOREIGN KEY (author_id) REFERENCES music.author(author_id);


--
-- Name: album fk_album_genre_id; Type: FK CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.album
    ADD CONSTRAINT fk_album_genre_id FOREIGN KEY (genre_id) REFERENCES music.genre(genre_id);


--
-- Name: user_rating fk_album_id; Type: FK CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.user_rating
    ADD CONSTRAINT fk_album_id FOREIGN KEY (album_id) REFERENCES music.album(album_id);


--
-- Name: want_to_listen fk_album_id; Type: FK CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.want_to_listen
    ADD CONSTRAINT fk_album_id FOREIGN KEY (album_id) REFERENCES music.album(album_id);


--
-- Name: song fk_song_album_id; Type: FK CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.song
    ADD CONSTRAINT fk_song_album_id FOREIGN KEY (album_id) REFERENCES music.album(album_id);


--
-- Name: song fk_song_author_id; Type: FK CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.song
    ADD CONSTRAINT fk_song_author_id FOREIGN KEY (author_id) REFERENCES music.author(author_id);


--
-- Name: user_rating fk_user_id; Type: FK CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.user_rating
    ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES music.app_user(user_id);


--
-- Name: want_to_listen fk_user_id; Type: FK CONSTRAINT; Schema: music; Owner: postgres
--

ALTER TABLE ONLY music.want_to_listen
    ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES music.app_user(user_id);


--
-- PostgreSQL database dump complete
--

